In [1]:
# importa biblioteca pandas
import pandas as pd


# importa biblioteca scipy
import scipy.stats as stats

In [2]:
# local do arquivo
Caminho='/IFM/cadastro_funcionarios.xlsx'

In [5]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [6]:
#Traz o arquivo para o Python
df=pd.read_excel("/Users/fabicampanari/Desktop/Aula 2024_10_02/cadastro_funcionarios.xlsx")

In [5]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [6]:
#Verifica a média de idade por grupo
df.groupby(['estado_civil'])['idade'].describe()

              count       mean       std   min   25%   50%   75%   max
estado_civil
c             244.0  35.094262  5.761670  25.0  31.0  35.0  39.0  49.0
s             182.0  33.989011  7.130968  20.0  27.0  34.0  41.0  46.0

In [7]:
solteiro=df[df.estado_civil=='s'].idade
casado=df[df.estado_civil=='c'].idade

In [11]:
# Executa o teste de Levene para verificar a igualdade das variâncias
stats.levene(casado, solteiro)

LeveneResult(statistic=15.882848929731193, pvalue=7.932664725672184e-05)

In [9]:
# executa o teste t Testando H0: μc= μs   H1: μc ≠ μs 
stats.ttest_ind(casado,solteiro,equal_var=True)
# PARA 95% DE CONFIANÇA REJEITO H0 SE PVALUE < 0.05

Ttest_indResult(statistic=1.768126851642872, pvalue=0.07775876759104682)