In [1]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca scipy
import scipy.stats as stats

# local do arquivo
Caminho='/IFM/cadastro_funcionarios.xlsx'

In [2]:
 #Traz o arquivo para o Python
df=pd.read_excel(Caminho)

In [3]:
df.head()

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [5]:
#Tabela de frequência da variável grau de instrução
freq=df["grau_instrucao"].value_counts()
freq

m    203
f    120
s    103
Name: grau_instrucao, dtype: int64

In [6]:
#Teste Chi-Quadrado
stats.chisquare(freq)

Power_divergenceResult(statistic=40.32394366197183, pvalue=1.7529393472868051e-09)

In [8]:
#Tabela de frequência da variável n_filhos
freq2=df["n_filhos"].value_counts()
freq2

0    234
2     75
1     61
3     42
5      8
4      6
Name: n_filhos, dtype: int64

In [9]:
#Teste Chi-Quadrado
stats.chisquare(freq2)

Power_divergenceResult(statistic=503.09859154929575, pvalue=1.711648214942146e-106)